<div class="centered">
  <mat-form-field appearance="fill">
    <mat-label>Choose a breed</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let cat of responseToAPI$ | async"
        [value]="cat.id"
        (click)="setId(cat.id)"
        (click)="onChange()"
      >
        {{ cat.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    (change)="setLimits(pageSize, pageEvent.pageIndex)"
  >
    <mat-label>Page size</mat-label>
    <input matInput [(ngModel)]="pageSize" type="number" />
  </mat-form-field>

  <mat-paginator
    (click)="setLimits(pageSize, pageEvent.pageIndex)"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event"
    aria-label="Select page"
  >
  </mat-paginator>
  <!-- (pageEvent.pageIndex)="(index)" -->

  <!-- <div *ngIf="pageEvent">
    <h5>Page Change Event Properties</h5>
    <div>List length: {{ pageEvent.length }}</div>
    <div>Page size: {{ pageEvent.pageSize }}</div>
    <div>Page index: {{ pageEvent.pageIndex }}</div>
  </div> -->
</div>
