.error-message {
  max-width: 70vw;
  height: fit-content;
  display: flex;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  background-color: #cecece;
  border: 3px solid red;
  border-radius: 15px;
  padding: 10px;
}

.close-error {
  position: absolute;
  top: 15%;
  right: 15px;
  color: white;
  background-color: #cecece;
  font-size: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
